<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<h1>Bienvenido  Coordinador GITST</h1>
    <h2>1ºer Curso Asignaturas </h2> 
    <div class="table row-grid center"> 
        <table class="table-condensed">
            <tbody>
                <thead>
                    <th class="col-md-1" ><label> Nombre Asignatura</label></th>
                    <th class="col-md-1" ><label>Acronimo</label></th>
                    <th class="col-md-1" ><label>Grupo</label></th>
                    <th class="col-md-1" ><label>Dia</label></th>
                    <th class="col-md-1" ><label>Hora Inicio</label></th>
                    <th class="col-md-1" ><label>Hora Fin</label></th>
                    <th class="col-md-1" ><label>Dia Inicio</label></th>
                    <th class="col-md-1" ><label>Dia Fin</label></th>
                    <th class="col-md-1" ><label>Creditos</label></th>
                    <th class="col-md-1" ><label>Curso</label></th>
                    <th class="col-md-1" ><label>Capacidad</label></th>
                    <th class="col-md-1" ><label>Idioma</label></th>
                </thead>
                <tr>
                    <td class="col-md-1" ><input type="text" id="name" /></td>
                    <td class="col-md-1" ><input type="text" id="name" /></td>
                    <td class="col-md-1" ><input type="text" id="name" /></td>
                    <td class="col-md-1" ><input type="text" id="name" /></td>
                    <td class="col-md-1" ><input type="text" id="name" /></td>
                    <td class="col-md-1" ><input type="text" id="name" /></td>
                    <td class="col-md-1" ><input type="text" id="name" /></td>
                    <td class="col-md-1" ><input type="text" id="name" /></td>
                    <td class="col-md-1" ><input type="text" id="name" /></td>
                    <td class="col-md-1" ><input type="text" id="name" /></td>
                    <td class="col-md-1" ><input type="text" id="name" /></td>
                    <td class="col-md-1" ><input type="text" id="name" /></td>
                </tr>
            </tbody>
        </table>    
    </div> 

<div class="row row-grid center"> 
        <p class="col-md-2"></p>
        <button class="col-md-2 centered" type="submit" id="btn1">Añadir Asignatura</button>  
        <p class="col-md-7">text</p>    
        <button class="col-md-1 centered" type="submit">Enviar</button>
</div>



