<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' href='../stylesheets/style.css' /> 
    <!-- Bootstrap CSS -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
    <body>
    <p>Area de Gestion de la Programacion Docente</p>
    <div class="tab">
        <button class="tablinks" onclick="openCity(event, 'AbrirCerrar')">Abrir/Cerrar</button>
        <button class="tablinks" onclick="openCity(event, 'Roles')">Roles</button>
        <button class="tablinks" onclick="openCity(event, 'Calendario')">Calendario</button>
        <button class="tablinks" onclick="openCity(event, 'Grupos')">Grupos</button>
    </div>

    <div id="AbrirCerrar" class="tabcontent container-fluid">
        <h3>Gestion del Estado de las programaciones docentes</h3>
        <div class="container">
            <div class="row col-sm space-above-below">
                <span class="col-sm-3">GITST</span>
                <span class="col-sm-3"><button>Abrir/Consultar</button></span>
                <span class="col-sm-3"><button>Cerrar</button></span>
                <span class="col-sm-3"><button>Abrir Incidencia</button></span>
            </div>
            <div class="row col-sm space-above-below">
                    <span class="col-sm-3">GIB</span>
                    <span class="col-sm-3"><button>Abrir/Consultar</button></span>
                    <span class="col-sm-3"><button>Cerrar</button></span>
                    <span class="col-sm-3"><button>Abrir Incidencia</button></span>
            </div>
            <div class="row col-sm space-above-below">
                    <span class="col-sm-3">MUIT</span>
                    <span class="col-sm-3"><button>Abrir/Consultar</button></span>
                    <span class="col-sm-3"><button>Cerrar</button></span>
                    <span class="col-sm-3"><button>Abrir Incidencia</button></span>
            </div>
            <div class="row col-sm space-above-below">
                    <span class="col-sm-3">MUTSC</span>
                    <span class="col-sm-3"><button>Abrir/Consultar</button></span>
                    <span class="col-sm-3"><button>Cerrar</button></span>
                    <span class="col-sm-3"><button>Abrir Incidencia</button></span>
            </div>
            <div class="row col-sm space-above-below">
                    <span class="col-sm-3">MUIRST</span>
                    <span class="col-sm-3"><button>Abrir/Consultar</button></span>
                    <span class="col-sm-3"><button>Cerrar</button></span>
                    <span class="col-sm-3"><button>Abrir Incidencia</button></span>
            </div>
            <div class="row col-sm space-above-below">
                    <span class="col-sm-3">MUEFSV</span>
                    <span class="col-sm-3"><button>Abrir/Consultar</button></span>
                    <span class="col-sm-3"><button>Cerrar</button></span>
                    <span class="col-sm-3"><button>Abrir Incidencia</button></span>
            </div>
            <div class="row col-sm space-above-below">
                    <span class="col-sm-3">MUISE</span>
                    <span class="col-sm-3"><button>Abrir/Consultar</button></span>
                    <span class="col-sm-3"><button>Cerrar</button></span>
                    <span class="col-sm-3"><button>Abrir Incidencia</button></span>
            </div>
            <div class="row col-sm space-above-below">
                    <span class="col-sm-3">MUIB</span>
                    <span class="col-sm-3"><button>Abrir/Consultar</button></span>
                    <span class="col-sm-3"><button>Cerrar</button></span>
                    <span class="col-sm-3"><button>Abrir Incidencia</button></span>
            </div>
            <div class="row col-sm space-above-below">
                    <span class="col-sm-3">MUTECI</span>
                    <span class="col-sm-3"><button>Abrir/Consultar</button></span>
                    <span class="col-sm-3"><button>Cerrar</button></span>
                    <span class="col-sm-3"><button>Abrir Incidencia</button></span>
            </div>
            <div class="row col-sm space-above-below">
                    <span class="col-sm-3"></span>
                    <span class="col-sm-3"><button>Abrir Todas</button></span>
                    <span class="col-sm-3"></span>
                    <span class="col-sm-3"></span>
            </div>
        </div>
    </div>

    <div id="Roles" class="tabcontent">
        <h3>Gestion Roles Aplicacion</h3>
        <div class="container">
            <div class="row col-sm space-above-below">
                <span class="col-sm-4"></span>
                <span class="col-sm-4">Nombre</span>
                <span class="col-sm-4"></span>
            </div>
            <div class="row col-sm space-above-below">
                <span class="col-sm-4">Jefe De Estudios</span>
                <span class="col-sm-4"><input placeholder="escribir nombre"></input></span>
                <span class="col-sm-4"><button>Aprobar</button></span>
            </div>
            <div class="row col-sm space-above-below">
                <span class="col-sm-4">Subdirector de Posgrado</span>
                <span class="col-sm-4"><input placeholder="escribir nombre"></input></span>
                <span class="col-sm-4"><button>Aprobar</button></span>
            </div>
            <div class="row col-sm space-above-below">
                <span class="col-sm-4">Secretaria Jefe De Estudios</span>
                <span class="col-sm-4"><input placeholder="escribir nombre"></input></span>
                <span class="col-sm-4"><button>Aprobar</button></span>
            </div>
            <div class="row col-sm space-above-below">
                    <div class="row col-sm space-above-below">
                        <span class="col-sm-4">Directores Departamentos</span>
                    </div>
                    <div class="row col-sm space-above-below">
                        <span class="col-sm-3">Director de SSR</span>
                        <span class="col-sm-3"><input placeholder="escribir nombre"></input></span>
                        <span class="col-sm-3">Señales, Sistemas y Radiocomunicaciones</span>
                        <span class="col-sm-3"><button>Aprobar</button></span>
                    </div>
                    <div class="row col-sm space-above-below">
                        <span class="col-sm-3">Director de DIT</span>
                        <span class="col-sm-3"><input placeholder="escribir nombre"></input></span>
                        <span class="col-sm-3">Ingenieria y Sistemas Telematicos</span>
                        <span class="col-sm-3"><button>Aprobar</button></span>
                    </div>
                    <div class="row col-sm space-above-below">
                         <span class="col-sm-3">Director de EIF</span>
                        <span class="col-sm-3"><input placeholder="escribir nombre"></input></span>
                        <span class="col-sm-3">Electronica Fisica, Ingenieria Electrica y Fisica Aplicada</span>
                        <span class="col-sm-3"><button>Aprobar</button></span> 
                    </div>
                    <div class="row col-sm space-above-below">
                        <span class="col-sm-3">Director de DIE</span>
                        <span class="col-sm-3"><input placeholder="escribir nombre"></input></span>
                        <span class="col-sm-3">Ingenieria Electronica</span>
                        <span class="col-sm-3"><button>Aprobar</button></span>
                    </div>
                    <div class="row col-sm space-above-below">
                        <span class="col-sm-3">Director de TFB</span>
                        <span class="col-sm-3"><input placeholder="escribir nombre"></input></span>
                        <span class="col-sm-3">Tecnologia Fotonica y Bioingenieria</span>
                        <span class="col-sm-3"><button>Aprobar</button></span>
                    </div>
                    <div class="row col-sm space-above-below">
                        <span class="col-sm-3">Director de MAT</span>
                        <span class="col-sm-3"><input placeholder="escribir nombre"></input></span>
                        <span class="col-sm-3">Departamento</span>
                        <span class="col-sm-3"><button>Aprobar</button></span>
                    </div>
                    <div class="row col-sm space-above-below">
                         <span class="col-sm-3">Director de LAT</span>
                        <span class="col-sm-3"><input placeholder="escribir nombre"> </input></span>
                        <span class="col-sm-3">Linguistica Aplicada a la ciencia y la Tecnologia</span>
                        <span class="col-sm-3"><button>Aprobar</button></span>
                    </div>
                    <div class="row col-sm space-above-below">
                        <span class="col-sm-3">Director de IOR</span>
                        <span class="col-sm-3"><input placeholder="escribir nombre"></input></span>
                        <span class="col-sm-3">Ingenieria de Organizacion, Administracion de Empresas y Estadistica</span>
                        <span class="col-sm-3"><button>Aprobar</button></span>   
                    </div>
            </div>
            <div class="row col-sm-12 space-above-below dropdown">
                    <div class="row col-sm space-above-below">
                            <span class="col-sm-4">Responsables Docentes Titulacion</span>
                    </div>
                    <div class="row space-above-below dropdown">
                        <div clas="container">
                        <div class="dropdown">
                            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                                Titulacion
                                <span class="caret"></span></button>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">GITST</a></li>
                                        <li><a href="#">GIB</a></li>
                                        <li><a href="#">MUIT</a></li>
                                        <li><a href="#">MUTSC</a></li>
                                        <li><a href="#">MUIRST</a></li>
                                        <li><a href="#">MUEFSV</a></li>
                                        <li><a href="#">MUISE</a></li>
                                        <li><a href="#">MUIB</a></li>
                                        <li><a href="#">MUTECI</a></li>
                                    </ul>
                        </div>
                        </div>
                    </div>
                    <div class="row col-sm space-above-below">
                        <span class="col-sm-4">Responsable Docente SSR</span>
                        <span class="col-sm-4"><input placeholder="escribir nombre"></input></span>
                        <span class="col-sm-4"><button>Aprobar</button></span>
                    </div>
                    <div class="row col-sm space-above-below">
                        <span class="col-sm-4">Responsable Docente DIT</span>
                        <span class="col-sm-4"><input placeholder="escribir nombre"></input></span>
                        <span class="col-sm-4"><button>Aprobar</button></span>
                    </div>
                    <div class="row col-sm space-above-below">
                        <span class="col-sm-4">Responsable Docente EIF</span>
                        <span class="col-sm-4"><input placeholder="escribir nombre"></input></span>
                        <span class="col-sm-4"><button>Aprobar</button></span>
                    </div>
                    <div class="row col-sm space-above-below">
                        <span class="col-sm-4">Responsable Docente DIE</span>
                        <span class="col-sm-4"><input placeholder="escribir nombre"></input></span>
                        <span class="col-sm-4"><button>Aprobar</button></span>
                    </div>
                    <div class="row col-sm space-above-below">
                        <span class="col-sm-4">Responsable Docente TFB </span>
                        <span class="col-sm-4"><input placeholder="escribir nombre"></input></span>
                        <span class="col-sm-4"><button>Aprobar</button></span>
                    </div>
                    <div class="row col-sm space-above-below">
                        <span class="col-sm-4">Responsable Docente MAT</span>
                        <span class="col-sm-4"><input placeholder="escribir nombre"></input></span>
                        <span class="col-sm-4"><button>Aprobar</button></span>
                    </div>
                    <div class="row col-sm space-above-below">
                        <span class="col-sm-4">Responsable Docente LAT</span>
                        <span class="col-sm-4"><input placeholder="escribir nombre"></input></span>
                        <span class="col-sm-4"><button>Aprobar</button></span>
                    </div>
                    <div class="row col-sm space-above-below">
                        <span class="col-sm-4">Responsable Docente IOR</span>
                        <span class="col-sm-4"><input placeholder="escribir nombre"></input></span>
                        <span class="col-sm-4"><button>Aprobar</button></span>
                    </div>
            </div>
        </div> 
    </div>

    <div id="Calendario" class="tabcontent">
        <h3>Calendario</h3>
        <p>Calendario Gestion de Grupos en Desarrollo</p>
    </div>
    <div id="Grupos" class="tabcontent">
        <h3>Grupos</h3>
        <p>Gestion de Grupos en Desarrollo</p>
    </div>

<script>
function openCity(evt, cityName) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    document.getElementById(cityName).style.display = "block";
    evt.currentTarget.className += " active";
}
</script>
     
</body>
</html> 
